# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=slowdown_db

# Porta em que a API vai rodar
PORT=3000

# Caminho do arquivo de credenciais do Firebase Admin SDK
# Baixe esse arquivo em: Firebase Console > Configurações do projeto > Contas de serviço > Gerar nova chave privada
# Coloque o arquivo .json na raiz do projeto backend e ajuste o nome aqui:
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
